* {
  box-sizing: border-box;
}

h1 {
  display:flex;
  flex-wrap: wrap;
  font-family: 'Sriracha', cursive;
  color: white;
  font-size: 3rem;
}
.body {
  margin: 10px;
}
.hero {
  display: flex;
  justify-content: center;
  background-color:navy;
  background-size: 100%;
  margin-bottom: 6px;
  border: 6px solid;
  border-radius: .25rem;
}

.card-header, .btn {
  font-family: 'Sriracha', cursive;
  color: rgb(1, 19, 36);
}

.cards {
  border: 3px solid black;
  font-size: 1rem;
  margin: 6px;
  background-color: navy;
  font-weight: bold;
  color: whitesmoke;
  border-radius: .25rem;
}

.current {
  padding: 10px;
  border:4px solid black; 
  border-radius: .25rem;
  width:100%;
}
.btn {
  border-radius: .25rem;
  background-color: navy;
  color: aliceblue;
  width: 100%;
  margin: 0 0 6 0;
  border-bottom:  4px black;
  padding: 4px;
}

.form-input {
  font-family: 'Sriracha', cursive;
  display: block;
  margin: 4px;
  border-radius: .25rem;
  font-size: 1.4rem;
  margin: 0 0 6px 0;
  padding: 4px;
  text-align: center;
}

.form {
padding-bottom: 6px; 
border: 10px;
}

li {
  list-style-type: none;
}

.cities{
  margin:10 0 10 0;
}